<!--© sushi http://kmdb.luatic.co.kr-->
<div class="star_rating_svg">
<!--
스킨에 star.js 는 필수 요소입니다.
star.js의 get_star_html_code() 함수와 star.html의 코드는 모양이 잘 맞아야 합니다.

스킨의 디자인 요소를 알맞게 수정하세요.
id와 class 명은 유지하기 바라며, star_rating.css를 변경해 보세요.

글 열람시에 아래에 리스트로 나타나는 글목록의 경우,
마우스 오버로 점수를 부여하려할 때에 열람중인 글과 글목록의 별점부여(마우스오버)가 중복되기에
열람 중인 글에 마우스 오버효과가 적용됩니다.
-->

<include target="_svgdefs.xml" />
<load target="star.js" />
<load target="../../tpl/js/star.js" /> <!-- 위젯의 공통 함수 -->

<!--@if($colorset == "black" || $colorset == "white")-->
	<!--%import("css/widget.css")-->
<!--@else-->
	<!--%import("css/rating.css")-->
<!--@end-->

<!-- jQuery 개별 로드 하지 않음 -->
<!--script type="text/javascript" src="./common/js/jquery.min.js"></script-->

	<!--별 개수-->
<!--@if($widget_info->star_max=="1")-->
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery(".star-rate a").popover();
});
</script>
<a href="#" data-toggle="popover" data-placement="left" data-container="body" data-html="true" data-content=''></a> -->



<span class="star-rate" data-toggle="popover" data-placement="left" data-container="body" data-html="true" title="<span class='btn-default btn-xs'><strong>{count($widget_info->star_rating_list)}명</strong></span> 참여<br/><!--@foreach($widget_info->star_rating_list as $list)-->&nbsp;<span class='<!--@if($logged_info->member_srl == $list->member_srl)-->label-primary<!--@else-->label-success<!--@end--> btn-xs'><em><strong>{$list->rateval}</strong></em></span><!--@end-->">
	<!--@if($widget_info->is_starrated && $is_logged)-->
		<svg class="star-voted">
			<use class="svg-circle" xlink:href="#icon-circle" filter="url(#drop-shadow)"></use>
			<use class="svg-circle-dashed-4<!--@foreach($widget_info->star_rating_list as $list)--><!--@if($widget_info->is_starrated && ($logged_info->member_srl != $list->member_srl))--> svg-circle-votes<!--@end--><!--@end-->" xlink:href="#icon-circle-dashed-4"></use>
		</svg>
	<!--@end-->
		<svg class="star-icon">
			<use class="svg-star-full-1" xlink:href="#icon-star-full" filter="url('#drop-shadow')"></use>
		</svg>
		<span class="star-result">{$widget_info->average}</span>
</span>

<!--@elseif($widget_info->star_max >"1")-->
<div id="outline<!--@if($colorset=="black")--> black<!--@end-->">
	<!-- 첫째 라인-->
	<!-- 평점 별 표시 부분 -->
	<div class="first_s" id="first_s_{$widget_info->document_srl}">

		<!-- star.js 에서 리턴된 값이 반영될 요소들 -->
		<div class="ment1" id="ment_{$widget_info->document_srl}"  cond="$widget_info->display_rated_info == 'Y'">
			<svg class="star-icon-10" viewBox="0 0 40 40">
				<use xlink:href="#icon-star-in-circle" filter="url(#drop-shadow)"></use>
			</svg> :
		</div>

		<div class="final" id="final_{$widget_info->document_srl}">
			<!-- 평점 별 표시 -->
			<!--//별의 게이지가 차는 것은 백분률 평균점수인 $widget_info->rateaverage 사용-->
			<!-- 구문(for, if 등) 사이나 구문과 <svg 사이 공간(Tab, Space 등) 있으면 <svg 아이콘 사이 공간이 생김 -->
			<!--@for($i=1;$i<=$widget_info->star_max;$i++)-->

<!--@if($widget_info->percent_average>=1)-->
<!--가득 찬 별--><svg class="star-icon-10 star-icon-10-result" viewBox="0 0 40 40">
						<use xlink:href="#icon-star-full" filter="url(#drop-shadow)"></use>
					</svg>{@$widget_info->percent_average-=1;}

<!--@elseif($widget_info->percent_average>=0.5)-->
<!--반쪽 별--><svg class="star-icon-10 star-icon-10-result" viewBox="0 0 40 40">
						<use xlink:href="#icon-star-half-o" filter="url(#drop-shadow)"></use>
					</svg>{@$widget_info->percent_average-=1;}

<!--@elseif ($widget_info->percent_average<0.5 && $widget_info->percent_average>0)-->
<!--빈 별 --><svg class="star-icon-10 star-icon-10-result" viewBox="0 0 40 40">
						<use xlink:href="#icon-star-o" filter="url(#drop-shadow)" fill="#FF89AC"></use>
					</svg>{@$widget_info->percent_average-=1;}

<!--@elseif($widget_info->percent_average<=0)-->
<!--빈 별--><svg class="star-icon-10 star-icon-10-result" viewBox="0 0 40 40">
						<use xlink:href="#icon-star-o" filter="url(#drop-shadow)"></use>
					</svg><!--@end-->
<!--@end-->
		</div>

		<!-- 평점 숫자 표시 및 평가 참여자 수 -->
		<span class="strimg" cond="$widget_info->display_rated_info == 'Y'" >

		<!--@if(count($widget_info->star_rating_list) > 0)-->
			<!--// 평균값과 참여자 수 정보 -->
			<strong><span class="btn-primary btn-xs">
				<svg class="star-icon-10-users" viewBox="0 0 40 40"><use xlink:href="#icon-users" filter="url(#drop-shadow)"></use></svg><span class="s_average" id="s_average_{$widget_info->document_srl}">{round($widget_info->rateaverage,2)} / {$widget_info->full_point}</span></span></strong><span class="s_persons" id="s_persons_{$widget_info->document_srl}">{count($widget_info->star_rating_list)}</span>명 참여

		<!--@else-->
			<!--// 참여자 없음-->
			<strong><span class="btn-primary btn-xs"><svg class="star-icon-10-user" viewBox="0 0 40 40"><use xlink:href="#icon-user-o" filter="url(#drop-shadow)"></use></svg><span class="s_average" id="s_average_{$widget_info->document_srl}">N/V</span></span></strong><span class="s_persons" id="s_persons_{$widget_info->document_srl}">당신의 점수는? {count($widget_info->star_rating_list)}</span>명 참여
		<!--@end-->
		</span>
	</div>

	<!-- 둘째 라인 -->
	<!--// /div> star_rating.class.php에 들어간 부분-->
	<!-- 평점 UI 부분 -->
	<div cond="$widget_info->able_rate == 'Y'" class="second_s" id="second_s_{$widget_info->document_srl}">
		<div class="ment2" id="ment" cond="$widget_info->display_rated_info == 'Y'">
<svg class="star-icon-10" viewBox="0 0 40 40">
				<use xlink:href="#icon-star-checked-o" filter="url(#drop-shadow)"></use>
			</svg> :
		</div>
		<div class="rating">
		<!--@for($i=1;$i<$widget_info->star_max+1;$i++)-->
<svg class="star-icon-10 star-icon-10-add" viewBox="0 0 40 40">
				<use xlink:href="#icon-star-full" filter="url('#drop-shadow')" onClick="addstar({$widget_info->member_srl},{$widget_info->document_srl},{$widget_info->full_point},{$widget_info->star_max},'{$widget_info->update_order}',{round(10/$widget_info->star_max*$i)}, 'SVG')" id="{round(10/$widget_info->star_max*$i)}_{$widget_info->document_srl}"></use>
		</svg><!--@end-->
		</div>

		<!-- 별 마우스 오버시에 표시되는 짧은 평가 멘트 -->
		<div class="rateit" id="rateit_{$widget_info->document_srl}"></div>
	</div>

	<div class="already" id="already_{$widget_info->document_srl}"></div>

</div>

	<!-- 셋째 라인 -->
	<!-- 투표자 리스트 -->
	<div cond="$widget_info->display_rated_list == 'Y'" class="rated_users" id="rated_users_{$widget_info->document_srl}">

	<!--@foreach($widget_info->star_rating_list as $list)-->
		<!-- 회원 닉네임 구하기 -->
		{@$obj->member_srl = $list->member_srl}
		<!-- output의 구조가 좀 복잡하게 돌아옴 -->
		{@$output = executeQuery("widgets.star_rating.getNickName", $obj);}

		<!--@if($grant->manager)-->
		<span id="rate_{$list->member_srl}_{$widget_info->document_srl}" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-title="{$output->data->nick_name} ★{$list->rateval} 삭제" onclick="removestar({$list->member_srl},{$widget_info->document_srl},{$widget_info->full_point},{$widget_info->star_max},'{$widget_info->update_order}', 'SVG')">
			{$output->data->nick_name}
			<!--@if($list->member_srl < 0)-->
			{$list->member_srl}
			<!--@end-->
			&nbsp;<i class="fa fa-star"></i><i>{$list->rateval}</i>
		</span>

		<!--@elseif($logged_info->member_srl == $list->member_srl)-->
		<!--
			// doCallModuleAction은 xe.min.js 에 정의된 ajax 함수임
			// widgets의 controller action 도 실행됨
			// conf/wdigets.xml 과 star_rating.controller.php 과 queries/updateStarRatedAverage.xml 의 3요소가 필요함
		-->
		<span id="rate_{$list->member_srl}_{$widget_info->document_srl}" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" data-title="내 ★{$list->rateval} 삭제" onclick="removestar({$list->member_srl},{$widget_info->document_srl},{$widget_info->full_point},{$widget_info->star_max},'{$widget_info->update_order}', 'SVG')">
			{$output->data->nick_name}&nbsp;<i class="fa fa-star"></i><i>{$list->rateval}</i>
		</span>&nbsp;

		<!--@elseif($list->member_srl > 0)-->
		<span class="label label-info">
			{$output->data->nick_name}&nbsp;<i class="fa fa-star"></i><i>{$list->rateval}</i>
		</span>&nbsp;

		<!--@elseif($list->member_srl < 0)-->
		<span class="label label-danger" data-toggle="tooltip" data-placement="top" data-title="익명 ★{$list->rateval}">
			{floor($list->member_srl/100)}**&nbsp;<i class="fa fa-star"></i><i>{$list->rateval}</i>
		</span>&nbsp;
		<!--@endif-->
	<!--@end-->
	</div>

<!--@else-->
[오류]
<!--@end-->

</div>

<script>
jQuery(function () {
  jQuery('[data-toggle="popover"]').popover()
})
</script>
